<?php Common::setExpiresHeaders(); ?>
<?php echo '<?xml version="1.0" encoding="UTF-8"?>' . PHP_EOL; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja">
	<head>
		<!-- meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" /-->
		<meta http-equiv="X-UA-Compatible" content="IE=11" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<?php foreach ($this->css as $css) : ?>
			<link href="<?php echo CSS_DIR . $css; ?>" media="screen,print" rel="stylesheet" type="text/css" />
		<?php endforeach; ?>
		<?php foreach ($this->js as $js) : ?>
			<script type="text/javascript" src="<?php echo JS_DIR . $js; ?>"></script>
		<?php endforeach; ?>
		<title>
			<?php echo $this->title; ?>
		</title>
	</head>
	<body>
		<?php require_once 'env.phtml'; ?>
		<div style="margin: 0px; padding: 0px;">
			<div id="container" style="width:<?php echo $this->settings['containerWidth']; ?>px;">
				<?php require_once $this->path; ?>
			</div>
		</div>
		<script type="text/javascript">//<![CDATA[
			now_loading.off();
			//]]></script>
	</body>
</html>
