<div class="calendar_div">
	<table class="calendar_table">
		<thead><?php include 'time_slot.phtml'; ?></thead>
		<tbody>
			<?php
			$booking_data = $this->booking_data;
			$booking_data_idx = 0;
			?>
			<?php for ($day = $start_date; $day < $next_month; $day = strtotime('+1 day', $day)) : ?>
				<?php if ((date('d', $day) == '11') || (date('d', $day) == '21')) : ?>
					<?php include 'time_slot.phtml'; ?>
				<?php endif; ?>
				<tr>
					<th class="date_th">
						<?php echo Common::formatDate('Y/m/d w', date('Y/m/d', $day)); ?>
					</th>
					<?php
					$for_start = strtotime(date('Y/m/d ' . $time_slot_start, $day));
					$for_end = strtotime(date('Y/m/d ' . $time_slot_end, $day));
					$colspan = 0;
					?>
					<?php for ($time_slot = $for_start; $time_slot < $for_end; $time_slot = strtotime('+15 minutes', $time_slot)) : ?>

						<?php if (isset($booking_data[$booking_data_idx]) && ($booking_data[$booking_data_idx]['start_datetime'] <= date('Y/m/d H:i:s', $time_slot))) : ?>
							<?php $colspan++; ?>
							<?php if ($booking_data[$booking_data_idx]['end_datetime'] <= date('Y/m/d H:i:s', strtotime('+15 minutes', $time_slot))) : ?>
								<?php
								$data = $booking_data[$booking_data_idx];
								$title = '';
								$title .= $data['title'];
								$title .= $title_br;
								$title .= Common::formatDate('Y/m/d(w) H:i', $data['start_datetime']);
								$title .= ' ～ ';
								$title .= Common::formatDate('H:i', $data['end_datetime']);
								$title .= $title_br;
								$title .= $data['user_name'];
								$title .= $title_br;
								$title .= '最終更新日：';
								$title .= $data['update_datetime'];
								?>
								<td class="plot_td plotted border_left" colspan="<?php echo $colspan; ?>"
									onclick="input_dialog_controller.modify('<?php echo $data['id']; ?>');"
									title="<?php echo $title; ?>">
								</td>
								<?php
								$colspan = 0;
								$booking_data_idx++;
								?>
							<?php endif; ?>

						<?php else : ?>
							<?php
							$title = '★クリックで予約開始！';
							$title .= $title_br;
							$title .= Common::formatDate('Y/m/d(w) H:i', date('Y/m/d H:i', $time_slot));
							$title .= ' ～';
							?>
							<td class="plot_td no_plotted<?php echo (date('i', $time_slot) == '00') ? ' border_left' : ''; ?>"
								onclick="input_dialog_controller.input_new('<?php echo date('Y/m/d H:i', $time_slot); ?>');"
								title="<?php echo $title; ?>">
							</td>
						<?php endif; ?>

					<?php endfor; ?>
				</tr>
			<?php endfor; ?>
		</tbody>
	</table>
</div>
