<div class="month_selector_div">
	表示年月選択：
	<select class="month_select_select"
			onchange="calendar_controller.month_move(this, this.value);"
			title="表示年月を選択して下さい。">
				<?php for ($month = $start_year; $month < $end_year; $month = strtotime('+1 month', $month)) : ?>
			<option value="<?php echo date($month_code_format, $month); ?>"<?php echo ($month === $start_date) ? $selected : ''; ?>>
				<?php echo date($month_display_format, $month); ?>
			</option>
		<?php endfor; ?>
	</select>

	<span class="month_select_link"
		  onclick="calendar_controller.month_move(this, '<?php echo date($month_code_format, $previous_month); ?>');"
		  title="表示年月の前月に移動します。">
		&lt;&lt;&nbsp;前月（<?php echo date($month_display_format, $previous_month); ?>）
	</span>

	<span class="month_select_link"
		  onclick="calendar_controller.month_move(this, '<?php echo date($month_code_format); ?>');"
		  title="今月に移動します。">
		今月（<?php echo date($month_display_format); ?>）
	</span>
</div>
