<div class="target_selector_div" title="【予約対象情報】<?php echo $title_br . $target_information; ?>">
	<form id="target_select_form" method="POST">
		予約対象選択：
		<select id="tc" name="tc" onchange="calendar_controller.target_change(this);">
			<option value="<?php echo $booking_target[0]['code']; ?>"<?php echo ($booking_target[0]['code'] === $target_code) ? $selected : ''; ?>>
				<?php echo $booking_target[0]['name']; ?>
			</option>
		</select>

		<input type="text" id="tm" name="tm" style="display: none;"
			   value="<?php echo date($month_code_format, $start_date); ?>" />
	</form>
</div>
