<?php
$for_start = strtotime(date('Y/m/d ' . $time_slot_start, $start_date));
$for_end = strtotime(date('Y/m/d ' . $time_slot_end, $start_date));
?>
<tr>
	<th class="date_head_th">
	</th>
	<?php for ($time_slot = $for_start; $time_slot < $for_end; $time_slot = strtotime('+1 hour', $time_slot)) : ?>
		<th class="time_slot_th" colspan="4">
			<?php echo date('H時', $time_slot); ?>
		</th>
	<?php endfor; ?>
</tr>
